.details {
    display: flex;
    margin-top: 90px;
    margin-left: 50px;
    flex-direction: column;
    width: 60%;
    row-gap: 20px;
    color: white;
}

.details_top {
    display: flex;
    justify-content: space-between;

}

.details_bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;

}

.details_right p {
    font-size: 17px;
    padding-bottom: 30px;
    color: #e5e0e0;
}

.details_right h5 {
    font-size: 16px;
    padding: 10px 0;
}

.actors {
    font-size: 18px;
    padding-top: 10px;
}

