.cards_wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
    row-gap: 10px;
    justify-content: center;
}
.wrap_movie{
    display: flex;
    flex-direction: column;

    padding: 50px 0;
}
.cards_button button{
    width: 10%;
    background: white;
    cursor: pointer;
}
.cards_button{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 40px;
}
